*{
    margin:0;
    padding:0;
}
h1, h3, p{
    color:#ffffff;
}
.bottom_white_band{
    width:100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
}
/*background_main*/
.background_main{
    background-image: url("../img/nature.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 47.8em;
}
/*main_content*/
.yellow_square{
    width: 374px;
    height: 90px;
    background-image: none;
    margin: -705px auto 615px;
    background-color: #f1c50e;
}
.main_content_txt{
    margin:-682px auto 624px 0px;
    text-align: center;
}
.main_content_txt h1{
    font-size: 2.8em;
    text-transform: uppercase;
    margin-bottom: 0.17em;
}
.main_content_txt h3{
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-size: 25px;
}
/*footer*/
.footer{
    background-color: #333333;
    height: 58px;
    text-align: center;
    padding-top: 40px;
    margin-top: -30px;
    margin-bottom: 70px;
}
.footer a, .footer p{
    display: inline-block;   
}
.footer a{
    color: #adcce9;
}
.footer a:hover{
    color: #ffffff;
}

